<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>FlaskBlog</title>
</head>
<body>
   <h1>TAMUHACK 2023</h1>
   <!-- <img src="{{url_for('static', filename='image/ba9828c28b934bae2329257811bf364d.png')}}" /> -->
   <label for="imageInput">What are you looking for?<br><br></label>
    <input type="text" id="imageInput" name="imageInput"><br><br>
   <label for="images">Upload an image: </label><br><br>
   <input type="file" id="images" name="images" accept="image/png, image/jpg">
</body>
</html>